# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
shaev_labs/.vs/shaev_labs/v17/Browse.VC.opendb
shaev_labs/.vs/shaev_labs/FileContentIndex/03061e8c-6d6a-489d-ae23-f65dac314ade.vsidx
